source:
    - src/
destination: api/
charset:
    - UTF-8
extensions:
    - php
exclude:
    - .*

title: API Documentation
tree: yes
accessLevels:
    - public
internal: no
deprecated: no
php: no
todo: no
sourceCode: no
download: no
debug: no
